header {
  height: 69px;
  background-color: black;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid seashell;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-tea-cozy-logo.png);
  background-size: 167.14px 50px;
  background-repeat: no-repeat;
  background-position: left;
}

body {
  background-color: black;
  opacity: 0.9;
}

#navitems {
  color: seashell;
  text-decoration: underline;
  font-family: Helvetica;
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  height: 50px;
  padding-left: 20px;
}

.main {
  position: relative;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  background-position: center;
  background-size: cover;
  width: 1200px;
  height: 700px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  margin: auto;
  margin-bottom: 69px;
}

.text {
  font-family: Helvetica;
  color: seashell;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 1200px;
}

h2, h3, h4, h5, p {
  font-family: Helvetica;
  color: seashell;
  text-align: center;
}

h2 {
  font-size: 34px;
}

h3, p {
padding-top: 10px;
font-size: 22px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

a {
  color: inherit;
}

.teaofthemonth {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

#tea1, #tea2, #tea3, #tea4, #tea5 {
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
}

.teapic {
  height: 200px;
  width: 300px;
}

.locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
  margin: auto;
  padding-top: 69px;
  margin-top: 60px;
}

.locationscontainer
{
  display: flex;
  justify-content: center;
}

#down, #east, #oak {
  color: seashell;
  background-color: black;
  display: row;
  width: 300px;
  height: 277px;
  margin: 20px;
  opacity: 1;
}

.contact {
  height: 200px;
}

#copy {
  text-align: left;
  margin-left: 20px;
  position: relative;
}
